body{

}

.content{
    padding:50px 0 50px 0;
    width:900px;
    margin:auto;
}

textarea {
    width: 780px !important;
}

.modal-dialog{
    left: 0 !important;
}
.showHide, .showHideSch, .showHideresBody, .showHideresSch{
    cursor: pointer;
}